{% load static %}
{% for product in on_sale_products %}
    <div class="product-card">
        <div class="card h-100">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default-product.jpg' %}" class="card-img-top" alt="No image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text old-price">
                    <strong>Old Price: <del data-usd="{{ product.price }}">{{ product.price }}</del></strong>
                </p>
                <p class="card-text new-price" style="color: #F73718">
                    <strong>New Price: <span data-usd="{{ product.on_sale_price }}">{{ product.on_sale_price }}</span></strong>
                </p>

                {% if product.stock > 0 %}
                    <form method="post" action="{% url 'store:add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark add-to-cart-btn">Add to Cart</button>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark add-to-cart-btn" disabled>Out of Stock</button>
                    </form>
                {% endif %}

                <form method="get" action="{% url 'product_detail' product.id %}">
                    <button type="submit" class="btn btn-dark add-to-cart-btn">View Product</button>
                    {% if product.stock <= 5 %}
                        <i class="fa-solid fa-fire">&nbsp;Only {{ product.stock }} remaining</i>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<script src="{% static 'js/currency.js' %}"></script>
