{% extends 'store/home.html' %}
{% load static %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h3 class="all_products_title">All Products</h3>

    <form method="get" id="search-form" class="form-inline mb-4" action="{% url 'all_products' %}">
        <input type="text" name="query" id="search-input" class="form-control mr-sm-2" placeholder="Search products..." value="{{ query }}">
        <button type="submit" class="btn btn-dark">Search</button>
    </form>

    <div id="product-list" class="row">
        {% include 'storage/product_list_partial.html' %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home-page.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/seach_form.js' %}"></script>
{% endblock %}