{% load static %}
{% for product in products %}
    <div class="product-card">
        <div class="card h-100">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default-product.jpg' %}" class="card-img-top" alt="No image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                {% if product.is_on_sale %}
                <p class="card-text"><strong>Old Price: <del data-usd="{{ product.price }}">{{ product.price }}$</del></strong></p>
                <p class="card-text" style="color: #F73718"><strong>New Price: <span data-usd="{{ product.on_sale_price }}">{{ product.on_sale_price }}</span></strong></p>
                {% else %}
                <p class="card-text"><strong>Price: <span data-usd="{{ product.price }}">{{ product.price }}</span></strong></p>
                {% endif %}

                <form method="get" action="{% url 'store:edit_product' product.id %}">
                    <button type="submit" class="btn btn-dark add-to-cart-btn">Edit Product</button>
                </form>

                <form method="get" action="{% url 'store:delete_product' product.id %}">
                    <button type="submit" style="background: #b32005" class="btn btn-dark add-to-cart-btn">Delete Product</button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<script src="{% static 'js/currency.js' %}"></script>
